header {
  color: red;
  padding: 15px;
  background-color: #fff;
  border: 10px dashed orange;
  font-size: 50px;
}

h1 {
  color: navy;
}

.team, .about {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  width: 500px;
  height: 500px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-style: italic;
}

.menu {
  display: flex;
}
.menu__item {
  margin-right: 5px;
}
.menu__link {
  padding: 10px;
}

.about {
  background-image: url();
}

.team {
  background-image: url();
}